@import url('//fonts.googleapis.com/css?family=Lobster');

/* BASE
============================================================================= */
* 							{ box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }

body 						{ background:#FFF; overflow-y:scroll; }

/* HEADER
============================================================================= */
header 						{ background:#FACD00; padding:20px 0; margin-bottom:40px; }
header h1 a					{ color:rgb(216, 255, 255); font-family:'Lobster'; font-size:50px;
	text-shadow:1px 1px 0 #a17400; -moz-text-shadow:1px 1px 0 #a17400; -webkit-text-shadow:1px 1px 0 #a17400;
	transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}
header h1 a:hover 			{ color:rgb(216, 255, 255); text-decoration:none; }

header h1 a i 					{ color:#a17400; }

/* FOOTER
============================================================================= */
footer 						{  }
	#copyright 				{ margin-bottom:40px; }

/* MAIN
============================================================================= */
#main 						{ margin-bottom:40px; }

	/* icons */
	.page-header h2 i 		{ color:#ba8d00; }
	footer h3 i 			{ color:#ba8d00; }

#color-form 				{ }
	#color-form input 		{ border:none; border-bottom:2px solid #DDD; color:#DDD; font-size:30px; letter-spacing:1px; line-height:30px; padding:30px 15px; text-transform:uppercase;
		border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
		box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
	}
	#color-form input:focus {
		box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
	}

	/* percentage
	----------------------------------------------------------------- */
	#calculated-colors .row-fluid 	{ margin-bottom:15px; }
	.percentage-box 				{ height:50px; margin:10px 0; width:100%;
		border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	}
		#dark-65 .percentage-box 	{ background:#542700; }
		#dark-45 .percentage-box 	{ background:#875a00; }
		#dark-35 .percentage-box 	{ background:#a17400; }
		#dark-25 .percentage-box 	{ background:#ba8d00; }
		#dark-15 .percentage-box 	{ background:#d4a700; }
		#dark-5 .percentage-box 	{ background:#edc000; }

		#light-5 .percentage-box 	{ background:#ffda0d; }
		#light-15 .percentage-box 	{ background:#fff326; }
		#light-25 .percentage-box 	{ background:#ffff40; }
		#light-35 .percentage-box 	{ background:#ffff59; }
		#light-45 .percentage-box 	{ background:#ffff73; }
		#light-65 .percentage-box 	{ background:#ffffa6; }

	/* gradients
	----------------------------------------------------------------- */
	#gradients 						{  }
	#gradient-example 				{ height:180px;
		border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
		border:1px solid #d4a700;
		background: #fff326;
		background: -moz-linear-gradient(top,  #fff326 0%, #FACD00 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff326), color-stop(100%,#FACD00));
		background: -webkit-linear-gradient(top,  #fff326 0%,#FACD00 100%);
		background: -o-linear-gradient(top,  #fff326 0%,#FACD00 100%);
		background: -ms-linear-gradient(top,  #fff326 0%,#FACD00 100%);
		background: linear-gradient(to bottom,  #fff326 0%,#FACD00 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff326', endColorstr='#FACD00',GradientType=0);
	}

	/* examples
	----------------------------------------------------------------- */
	#examples 						{ margin-bottom:20px; }

		/* light button */
		#light-button 				{ border:1px solid #d4a700; color:#ffffa6;
			text-shadow:none; -moz-text-shadow:none; -webkit-text-shadow:none;
			background: #fff326;
			background: -moz-linear-gradient(top,  #fff326 0%, #FACD00 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff326), color-stop(100%, #FACD00));
			background: -webkit-linear-gradient(top, #fff326 0%, #FACD00 100%);
			background: -o-linear-gradient(top, #fff326 0%, #FACD00 100%);
			background: -ms-linear-gradient(top, #fff326 0%, #FACD00 100%);
			background: linear-gradient(to bottom, #fff326 0%, #FACD00 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff326', endColorstr='#FACD00', GradientType=0); }
		#light-button i 			{ color:#ba8d00; }

		#dark-button 				{ border:1px solid #542700; color:#ffff73;
			text-shadow:none; -moz-text-shadow:none; -webkit-text-shadow:none;
			background: #ba8d00;
			background: -moz-linear-gradient(top,  #ba8d00 0%, #875a00 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ba8d00), color-stop(100%, #875a00));
			background: -webkit-linear-gradient(top, #ba8d00 0%, #875a00 100%);
			background: -o-linear-gradient(top, #ba8d00 0%, #875a00 100%);
			background: -ms-linear-gradient(top, #ba8d00 0%, #875a00 100%);
			background: linear-gradient(to bottom, #ba8d00 0%, #875a00 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba8d00', endColorstr='#875a00', GradientType=0); }
		#dark-button i 			{ color:#ffffa6; }

		/*#light-button-modal, #dark-button-modal 		{ left:15%; width:70%; }*/

	/* gradient creation
	----------------------------------------------------------------- */
	#gradient-creation 				{ margin-bottom:30px; }
	#gradient-creation .btn-group 	{ margin-bottom:20px; margin-left:0; }

		#gradient-text 				{ font-size:45px; margin-top:30px; }
		#gradient-text i 			{ color:#875a00; display:block; font-size:60px; margin-bottom:20px; }
		#gradient-text span 		{ color:#ffffa6; font-family:'Lobster';
			text-shadow:1px 1px 0 #875a00; -moz-text-shadow:1px 1px 0 #875a00; -webkit-text-shadow:1px 1px 0 #875a00;
		}

	/* future
	----------------------------------------------------------------- */

/* MINICOLORS
============================================================================= */
.minicolors-theme-default.minicolors .minicolors-input 			{ width:200px; }
.minicolors-panel 												{ border:5px solid #FFF; height:162px; top:70px; width:184px; }
	.minicolors-picker 											{ background:#000; border:none; height:3px; width:20px; }
	.minicolors-grid .minicolors-picker 						{ border:none; }
.minicolors-swatch 												{ border:none; border-bottom:2px solid #DDD; height:62px; width:62px; }
	.minicolors-theme-default.minicolors-focus .minicolors-swatch 	{ border-color:#DDD; }
	.minicolors-swatch span 									{ box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }
